*{
    margin: 0px;
    padding: 0px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    opacity: 0.89;
}
section .row{
    position: relative;
    top: -60%;
    width: 100%;
    display: flex;
    padding: 10px 10px;
    white-space: nowrap;
    font-size: 64px;
    transform: rotate(-30deg);
}
i{
    color: rgba(10, 10, 10, 0.7);
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}
i:hover{
    transition: 0s;
    color: #1f0;
    text-shadow: 0 0 100px #0f0;
}
section .row div{
    animation: animate1 30s linear infinite;
    animation-delay: -30s;
}
section .row div:nth-child(2){
    animation: animate2 30s linear infinite;
    animation-delay: -15s;
}
@keyframes animate1{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes animate2{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-200%);
    }
}
section .row:nth-child(even) div{
    animation: animate3 30s linear infinite;
    animation-delay: -30s;
}
section .row:nth-child(even) div:nth-child(2){
    animation: animate4 30s linear infinite;
    animation-delay: -15s;
}
@keyframes animate3{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animate4{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}
@media screen and (min-width:100px) and (max-width:768px) {
    section .row{
        font-size: 32px;
    }
}

.container .resume{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 15rem;
    border: 7px solid black;
    margin-top: -30vw;
    z-index: 20;
    margin-left: 24vw;
    opacity: 1;
    padding: 10px;
}
.container .resume h1{
    color: #111;
    padding: 10px;
    font-size: xxx-large;
}
.container .resume h2{
    color: #111;
    padding: 10px;
    font-size: xx-large;
}
@media screen and (min-width:100px) and (max-width:320px) {
    .container .resume{
        width: 17rem;
        height: 5rem;
        margin-top: -100vw;
        margin-left: 3vw;
    }
    .container .resume h1{
        color: #111;
        padding: 10px;
        font-size: larger;
    }
    .container .resume h2{
        color: #111;
        padding: 10px;
        font-size: x-small;
    }
}
@media screen and (min-width:321px) and (max-width:425px) {
    .container .resume{
        width: 17rem;
        height: 5rem;
        margin-top: -80vw;
        margin-left: 14vw;
    }
    .container .resume h1{
        color: #111;
        padding: 10px;
        font-size: larger;
    }
    .container .resume h2{
        color: #111;
        padding: 10px;
        font-size: x-small;
    }
}
@media screen and (min-width:426px) and (max-width:768px) {
    .container .resume{
        width: 35rem;
        height: 15rem;
        margin-top: -50vw;
        margin-left: 14vw;
    }
    .container .resume h1{
        color: #111;
        padding: 10px;
        font-size: xxx-large;
    }
    .container .resume h2{
        color: #111;
        padding: 10px;
        font-size: xx-large;
    }
}